body {
  margin: 0;
}

div.App {
  width: 100vw;
  height: 100vh;
  background: #000000 url('./assets/weather-backgrounds/snow-mountains.jpg')
    no-repeat center center;
  background-size: cover;
  overflow-y: auto;
}

* {
  box-sizing: border-box;
}
